@page
@model RazorMegaDesk.Pages.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form class="filter-sort">
    <p>
        <label>Search Name: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Search" />
    </p>
    <p>
        <label>
            Sort By:
            <select asp-for="SortBy" asp-items="Model.Sorts" onchange="this.form.submit();">
            </select>
        </label>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].RushDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RushDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
